.wishPageBg {
  animation: bgChange 1s ease forwards;
}
.bgAnimation {
  animation: bgSwap 10s 2s ease-in-out infinite;
}

.hideCake {
  animation: hide 1s ease-in-out 2s forwards;
}

.removeCake {
  animation: remove 0.1s ease-in-out 3.2s forwards;
}

@keyframes remove {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgSwap {
  0%,
  100% {
    background-color: #ffffff;
  }
  20% {
    background-color: #ffe4e1;
  }
  40% {
    background-color: #f4c2c2;
  }
  60% {
    background-color: #e9b8d0;
  }
  80% {
    background-color: #d7bed8;
  }
}

@keyframes bgChange {
  0% {
    background-color: #314259;
  }
  100% {
    background-color: #ffffff;
  }
}
